<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate of Completion</title>
    
</head>
<body>
    <div class="certificate-container">
        <div class="certificate-title">Certificate of Completion</div>
        <div class="certificate-subtitle">This is to certify that</div>
        <div class="certificate-body">
            <span class="highlight">{{ student_name }}</span><br>
            has successfully completed the course<br>
            <span class="highlight">{{ course_name }}</span><br>
            on <span class="highlight">{{ completion_date }}</span>.
        </div>
        <div class="certificate-footer">
            Congratulations on your achievement!
        </div>
        <div class="signature">
            <div class="signature-line"></div>
            Instructor Signature
        </div>
    </div>
</body>
</html>
