{% extends 'layout/app-layout.html'%}
{% block 'content' %}
    <h1>Harry Potter and the Philosopher's Stone</h1><br>
    <h3>J. K. Rowling</h3>
    <p>Harry Potter lives with his abusive uncle and aunt, Vernon and Petunia Dursley, 
        and their bullying, spoiled son, Dudley. On Harry's 11th birthday, he learns 
        that he is a wizard when a man named Rubeus Hagrid invites him to attend Hogwarts,
         a school of magic. Hagrid explains that when Harry was an infant, a Dark wizard 
         named Voldemort murdered his parents and tried to kill him as well. However, 
         Voldemort's killing curse rebounded and seemingly destroyed him, leaving a 
         lightning bolt-shaped scar on Harry's forehead. Hagrid takes Harry to Diagon 
         Alley, where the latter discovers his fame among wizards while buying a wand, 
         an owl named Hedwig, and other school supplies. A month later, Harry takes 
         the Hogwarts Express to Hogwarts. He befriends Ron Weasley, a first-year 
         student, during the journey. He also meets Hermione Granger and has a 
         confrontation with Draco Malfoy. At Hogwarts, a magical Sorting Hat 
         assigns each first-year student to a House. Harry, Ron, and Hermione 
         are assigned to Gryffindor, although the Hat considers putting Harry in Slytherin.
          Harry's broomstick flying ability earns him a place on the Gryffindor Quidditch 
          team as the Seeker. He develops a dislike for the Potions professor Severus Snape, 
          who seems to hate Harry. Harry and Ron discover a gigantic three-headed dog guarding 
          a trapdoor one night. The two boys later save Hermione from a troll and begin a 
          friendship with her. During Harry's first Quidditch match, his broomstick attempts 
          to throw him off. Snape's strange behaviour during the match convinces Hermione 
          that he jinxed Harry's broom. On Christmas, Harry receives an anonymous gift
           his father's invisibility cloak. While using the cloak to explore the school 
           undisturbed, he discovers the Mirror of Erised, which shows the viewer what 
           they most desire. Harry sees his family in the mirror. Harry, Ron, and Hermione 
           learn that the three-headed dog is guarding a magical object called the Philosopher's
            Stone, which grants its user immortality. A centaur named Firenze warns Harry that 
            Voldemort is plotting to steal the Stone to restore his body. When the headmaster, 
            Albus Dumbledore, is lured away from Hogwarts, Harry and his friends fear the theft 
            is imminent and descend through the trapdoor to retrieve the artefact. Various 
            obstacles force Ron and Hermione to remain behind while Harry approaches the Stone. 
            He encounters Professor Quirrell, the Defence Against the Dark Arts professor, 
            who explains that he serves Voldemort and that it was he who jinxed Harry's broom;
             Snape was trying to save him during the match. Quirrell attempts to retrieve the 
             Stone from the Mirror of Erised, but cannot figure out how. When Harry looks in 
             the Mirror, he feels the Stone drop into his pocket. Quirrell then reveals that 
             Voldemort has possessed his body, and shows Harry Voldemort's face on the back 
             of his head. Quirrell attempts to seize the Stone, but his flesh burns upon 
             contact with Harry. As Harry and Quirrell struggle, Harry's scar begins to 
             burn, and he passes out. Harry awakens in the school's infirmary. 
             Dumbledore explains that Harry survived because he is protected 
             by a magical charm created when his mother died trying to protect him. 
             Quirrell's hatred and greed caused him to burn upon contact with Harry, 
             and Voldemort abandoned him to die. Dumbledore also reveals that the Stone 
             has been destroyed. During the school's year-end feast, Gryffindor is awarded 
             the House Cup. Harry then returns to the Dursleys for the summer.</p>
{% endblock %}